<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Steve demo</title>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

	<style>
	html, body, .container {
		height: 100%;
	}
	body {
		background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #F62D51);
	}
	.row {
		margin-bottom: 0;
	}
	.container .input-field label,
	.container .input-field input[type=text]:focus + label,
	.container .input-field .prefix.active  {
		color: #F62D51;
	}
	/* label underline focus color */
	.container .input-field input[type=text]:focus,
	.container .input-field input[type=text].valid,
	.container .input-field input[type=text].invalid {
		border-bottom: 1px solid #F62D51;
		box-shadow: 0 1px 0 0 #F62D51;
	}
	[type="checkbox"].filled-in:checked + span:not(.lever)::after {
		border: 2px solid #F62D51;
		background-color: #F62D51;
	}
	</style>
</head>
<body>
	<div class="container" style="height:100%">
		<div class="row valign-wrapper" style="height:100%">
			<div class="col s12">
				<div class="card-panel">
					<h5>{% block title %}{% endblock %}</h5>

					<div class="row">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
