{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="col s12">
	<p>{{ msg }}</p>
	<div class="row">
		<div class="input-field col s12">
			<a href="/">
				<button class="waves-effect waves-light left btn indigo accent-2"><i class="material-icons left">arrow_back</i>Go back</button>
			</a>
		</div>
	</div>
</div>
{% endblock %}
