{% extends 'base.html' %}

{% block title %}Spreadsheet formatted{% endblock %}

{% block content %}

<div class="col s12">
	<p>Spreadsheet <i>{{ sheet_title }}</i> has been successfully formatted !<br>
	</p>
	<div class="row">
		<div class="input-field col s12">
			<a href="/">
				<button class="waves-effect waves-light left btn indigo accent-2"><i class="material-icons left">arrow_back</i>Go back</button>
			</a>
			<a href="{{ results_url }}" target="_blank">
				<button class="waves-effect waves-light right btn red accent-3">Spreadsheet<i class="material-icons right">grid_on</i></button>
			</a>
			{% if doc_url %}
			<a href="{{ doc_url }}" target="_blank">
				<button style="margin-right:15px;" class="waves-effect waves-light right btn red accent-3">Document<i class="material-icons right">format_align_left</i></button>
			</a>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}

