{% extends 'base.html' %}

{% block title %}Spreadsheet formatter{% endblock %}

{% block content %}
<form class="col s12" action="/format">
	<div class="row">
		<div class="input-field col s12" style="margin-top:20px;margin-bottom:0">
			<input placeholder="https://docs.google.com/spreadsheets/d/1GHRsDTMq8kPezseUi2CNl6IjCpF9QB8qzcdBsTpdawE/edit#gid=0" id="sheet_url" name="sheet_url" type="text" class="validate" autofocus>
			<label for="sheet_url">Google Spreadsheet URL</label>
		</div>
		<div class="input-field col s12" style="margin:0;">
			<p>
				<label>
					<input id="create_doc" name="create_doc" class="filled-in" type="checkbox" />
					<span style="color:#666;">Create a Google Document</span>
				</label>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<button type="submit" class="waves-effect waves-light right btn red accent-3">Format<i class="material-icons right">autorenew</i></button>
		</div>
	</div>
</form>
{% endblock %}
